<?xml version="1.0" encoding="UTF-8"?>
<!--
  ***** BEGIN LICENSE BLOCK *****
  Version: MPL 1.1/GPL 2.0/LGPL 2.1
  
  The contents of this file are subject to the Mozilla Public License Version 
  1.1 (the "License"); you may not use this file except in compliance with 
  the License. You may obtain a copy of the License at 
  http://www.mozilla.org/MPL/
  
  Software distributed under the License is distributed on an "AS IS" basis,
  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  for the specific language governing rights and limitations under the
  License.
  
  The Original Code is Opus-College report module code.
  
  The Initial Developer of the Original Code is
  Center for Information Services, Radboud University Nijmegen
  and Universidade Catolica de Mocambique.
  Portions created by the Initial Developer are Copyright (C) 2008
  the Initial Developer. All Rights Reserved.
  
  Contributor(s):
    For Java files, see Javadoc @author tags.
  
  Alternatively, the contents of this file may be used under the terms of
  either the GNU General Public License Version 2 or later (the "GPL"), or
  the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  in which case the provisions of the GPL or the LGPL are applicable instead
  of those above. If you wish to allow use of your version of this file only
  under the terms of either the GPL or the LGPL, and not to allow others to
  use your version of this file under the terms of the MPL, indicate your
  decision by deleting the provisions above and replace them with the notice
  and other provisions required by the GPL or the LGPL. If you do not delete
  the provisions above, a recipient may use your version of this file under
  the terms of any one of the MPL, the GPL or the LGPL.
  
  ***** END LICENSE BLOCK *****
-->

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">



    <bean id="reportWebExtensions" class="org.uci.opus.report.web.extpoint.ReportWebExtensions">
    </bean>

    <!-- extensions -->

    <!-- student reports per StudyGradeType-CardinalTimeUnit -->

    <bean id="studentsPerTimeUnitReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeTypeCardinalTimeUnit">
        <property name="reportName"><value>StudentsPerStudyGradeAcadyear</value></property>
        <property name="titleKey"><value>jsp.studentsreports.studentsByTimeUnit</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.lists</value></property>
    </bean>
    
    <bean id="StudentsPerStudyGradeAcadyearClass" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeTypeCardinalTimeUnit">
        <property name="reportName"><value>StudentsPerStudyGradeAcadyearClass</value></property>
        <property name="titleKey"><value>jsp.studentsreports.studentsByTimeUnitClass</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.classdescription.lists</value></property>
    </bean>
    
    <bean id="failedStudentsPerSubjectReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeTypeCardinalTimeUnit">
        <property name="reportName"><value>FailedStudentsPerSubject</value></property>
        <property name="titleKey"><value>jsp.report.failedStudentsPerSubject.title</value></property>
        <property name="descriptionKey"><value>jsp.report.failedStudentsPerSubject.description</value></property>
    </bean>

    <bean id="studentsPerTimeUnit12thGradeProvinceReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeTypeCardinalTimeUnit">
        <property name="reportName"><value>StudentsPerStudyGradeAcadyear_12thgradeprovince</value></property>
        <property name="titleKey"><value>jsp.report.twelvethgradeprovince</value></property>
        <property name="descriptionKey"><value>jsp.report.twelvethgradeprovince.reportdescription</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeTypeCardinalTimeUnit">
        <property name="reportName"><value>StudentsProgressStatus</value></property>
        <property name="titleKey"><value>jsp.report.studentsprogressstatus.title</value></property>
        <property name="descriptionKey"><value>jsp.report.studentprogressstatus.description</value></property>
    </bean>
    
    <!-- student reports per StudyGradeType -->

    <bean id="graduatedStudentsReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeType">
        <property name="reportName"><value>GraduatedStudents</value></property>
        <property name="titleKey"><value>jsp.report.graduatedstudents.title</value></property>
        <property name="descriptionKey"><value>jsp.report.graduatedstudents.description</value></property>
    </bean>

    <bean id="foreignStudentsReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeType">
        <property name="reportName"><value>ForeignStudents</value></property>
        <property name="titleKey"><value>jsp.report.foreignstudents.title</value></property>
        <property name="descriptionKey"><value>jsp.report.foreignstudents.description</value></property>
    </bean>

<!-- student Missing Documents Old -->
<!-- 
    <bean id="missingDocumentsReport" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeType">
        <property name="reportName"><value>StudentsMissingDocuments</value></property>
        <property name="titleKey"><value>jsp.report.missingdocuments.title</value></property>
        <property name="descriptionKey"><value>jsp.report.missingdocuments.description</value></property>
    </bean>
-->
    
<!-- student Missing Documents New -->
    <bean id="missingDocumentsReportnew" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeType">
        <property name="reportName"><value>StudentsMissingDocumentsNew</value></property>
        <property name="titleKey"><value>jsp.report.missingdocuments.title</value></property>
        <property name="descriptionKey"><value>jsp.report.missingdocuments.description</value></property>
    </bean>
    
<!-- students Source of Funding -->
    <bean id="sourceOfFunding" class="org.uci.opus.report.web.extpoint.StudentReport4StudyGradeType">
        <property name="reportName"><value>StudentsSourceOfFunding</value></property>
        <property name="titleKey"><value>jsp.report.sourceoffunding.title</value></property>
        <property name="descriptionKey"><value>jsp.report.sourceoffunding.description</value></property>
    </bean>


    <!-- student reports per subject -->
    
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4Subject">
        <property name="reportName"><value>PautaExameExternoCED</value></property>
        <property name="titleKey"><value>report.pauta.externo.titleCED</value></property>
        <property name="descriptionKey"><value>report.pauta.externo.descriptionCED</value></property>
    </bean>
    
     <bean class="org.uci.opus.report.web.extpoint.StudentReport4Subject">
        <property name="reportName"><value>PautaExameExternoRecorrenciaCED</value></property>
        <property name="titleKey"><value>report.pauta.externo.recorrencia.titleCED</value></property>
        <property name="descriptionKey"><value>report.pauta.externo.recorrencia.descriptionCED</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4Subject">
        <property name="reportName"><value>StudentsBySubject</value></property>
        <property name="titleKey"><value>jsp.general.studentslistsbysubject</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.studentsbysubjectlists</value></property>
    </bean>
    
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4Subject">
        <property name="reportName"><value>StudentsBySubjectCityofOrigin</value></property>
        <property name="titleKey"><value>jsp.general.studentslistsbysubjectorigin</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.stundentsresultsbysubjectandorigin</value></property>
    </bean>
    
   
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4Subject">
        <property name="reportName"><value>result/StudentsResults</value></property>
        <property name="titleKey"><value>jsp.general.studentsresults</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.stundentsresults</value></property>
    </bean>  
   
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4SubjectResults">
        <property name="reportName"><value>result/ExaminationResults</value></property>
        <property name="titleKey"><value>jsp.general.examinationresults</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.examinationresults</value></property>
        <property name="multiSelect"><value>false</value></property>
    </bean>  

    <!-- individual student reports -->

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4IndividualStudent">
        <property name="reportName"><value>SubjectsDone</value></property>
        <property name="titleKey"><value>jsp.general.subjects.done</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.subjectspassed</value></property>
        
    </bean>
    
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4IndividualStudent">
        <property name="reportName"><value>MissingSubjects</value></property>
        <property name="titleKey"><value>jsp.general.missingsubjects</value></property>
       
        <property name="descriptionKey"><value>jsp.studentsreports.description.missingsubjects</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4IndividualStudent">
        <property name="reportName"><value>StudentProfile</value></property>
        <property name="titleKey"><value>jsp.general.studentprofilesheet</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.studentprofilesheet</value></property>
       
    </bean>

	<!-- student reports per studyplan -->
	
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>StudentCard</value></property>
        <property name="titleKey"><value>jsp.general.studentcard</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.studentcard</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>SubjectsDone</value></property>
        <property name="titleKey"><value>jsp.general.subjects.done</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.subjectspassed.instudyplan</value></property>
    </bean>
    
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>MissingSubjects</value></property>
        <property name="titleKey"><value>jsp.general.missingsubjects</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.missingsubjects.instudyplan</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>StudentProfile</value></property>
        <property name="titleKey"><value>jsp.general.studentprofilesheet</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.studentprofilesheet.forstudyplan</value></property>
    </bean>
    
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>MatriculaInternos</value></property>
        <property name="titleKey"><value>matriculainternos.header</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.matriculainternos</value></property>
    </bean>
    
          
    <!-- 
      <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlan">
        <property name="reportName"><value>StudentDiploma</value></property>
        <property name="titleKey"><value>jsp.general.studentdiploma</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.studentdiploma</value></property>
    </bean>
     -->
	<!-- student reports per studyplan cardinal time unit-->
    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlanCardinalTimeUnit">
        <property name="reportName"><value>ExamSlip</value></property>
        <property name="titleKey"><value>jsp.general.examslip</value></property>
        <property name="descriptionKey"><value>jsp.studentsreports.description.examslip</value></property>
    </bean>

    <bean class="org.uci.opus.report.web.extpoint.StudentReport4StudyPlanCardinalTimeUnit">
        <property name="reportName"><value>StudentTimeUnitDeclaration</value></property>
        <property name="titleKey"><value>report.studentTimeUnitDeclaration.title</value></property>
        <property name="descriptionKey"><value>report.studentTimeUnitDeclaration.description</value></property>
    </bean>

</beans> 
