<?xml version="1.0" encoding="UTF-8"?><!--
  ***** BEGIN LICENSE BLOCK *****
  Version: MPL 1.1/GPL 2.0/LGPL 2.1
  
  The contents of this file are subject to the Mozilla Public License Version
  1.1 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
  http://www.mozilla.org/MPL/
  
  Software distributed under the License is distributed on an "AS IS" basis,
  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  for the specific language governing rights and limitations under the
  License.
  
  The Original Code is Opus-College scholarship module code.
  
  The Initial Developer of the Original Code is
  Center for Information Services, Radboud University Nijmegen.
  Portions created by the Initial Developer are Copyright (C) 2008
  the Initial Developer. All Rights Reserved.
  
  Contributor(s):
    For Java files, see Javadoc @author tags.
  
  Alternatively, the contents of this file may be used under the terms of
  either the GNU General Public License Version 2 or later (the "GPL"), or
  the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  in which case the provisions of the GPL or the LGPL are applicable instead
  of those above. If you wish to allow use of your version of this file only
  under the terms of either the GPL or the LGPL, and not to allow others to
  use your version of this file under the terms of the MPL, indicate your
  decision by deleting the provisions above and replace them with the notice
  and other provisions required by the GPL or the LGPL. If you do not delete
  the provisions above, a recipient may use your version of this file under
  the terms of any one of the MPL, the GPL or the LGPL.
  
  ***** END LICENSE BLOCK *****
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uci.opus.scholarship.persistence.ComplaintMapper">

    <resultMap id="findComplaintsResultMap" type="java.util.HashMap">
        <result property="complaintId" column="id"/>
        <result property="complaintDate" column="complaintDate"/>
        <result property="reason" column="reason"/>
        <result property="result" column="result"/>
        <result property="complaintStatusCode" column="complaintStatusCode"/>
        <result property="surnameFull" column="surnameFull"/>
        <result property="firstnamesFull" column="firstnamesFull"/>
        <result property="birthdate" column="birthdate"/>
        <result property="civiltitle" column="civiltitle"/>
        <result property="academicYearId" column="academicYearId"/>
        <result property="sponsorId" column="sponsorId"/>
        <result property="sponsorName" column="sponsorName"/>
        <result property="scholarshipTypeCode" column="scholarshipTypeCode"/>
        <result property="scholarshipTypeDescription" column="scholarshipTypeDescription"/>
        <result property="studentId" column="studentId"/>
    </resultMap>
    
    <select id="findStudentComplaints" parameterType="int" resultType="Complaint">
        select  opuscollege.sch_complaint.*
        from    opuscollege.sch_complaint
        where   sch_complaint.scholarshipApplicationId IN 
                ( SELECT id from opuscollege.sch_scholarshipApplication
                WHERE scholarshipStudentid = #{value}
                )
        ORDER BY complaintDate DESC
    </select>

    <delete id="deleteComplaintsForStudent" parameterType="int">
        DELETE  from opuscollege.sch_complaint 
        where   sch_complaint.scholarshipApplicationId IN 
                ( SELECT id from opuscollege.sch_scholarshipApplication
                WHERE scholarshipStudentid = #{value}
                )
    </delete>

    <select id="findComplaint" parameterType="int" resultType="Complaint">
        select  *
        from    opuscollege.sch_complaint
        where   id = #{complaintId}
    </select> 

    <select id="findComplaints" parameterType="map" resultMap="findComplaintsResultMap">
        select  person.surnameFull
        ,       person.firstnamesFull
        ,       person.birthdate
        ,       civiltitle.description as civiltitle
        ,       student.studentId
        ,       sch_sponsor.academicYearId
        ,       sch_scholarship.sponsorId
        ,       sch_sponsor.name  as sponsorName
        ,       sch_scholarshipType.code as scholarshipTypeCode
        ,       sch_scholarshipType.description as scholarshipTypeDescription
        ,       sch_complaint.*
        from    opuscollege.sch_complaint
        inner   join opuscollege.sch_scholarshipApplication on sch_scholarshipApplication.id = sch_complaint.scholarshipApplicationId
        inner   join opuscollege.sch_scholarship on sch_scholarship.id = sch_scholarshipApplication.scholarshipappliedforid
        inner   join opuscollege.sch_sponsor on sch_sponsor.id = sch_scholarship.sponsorId
        inner   join opuscollege.sch_scholarshiptype on sch_scholarshiptype.code = sch_scholarship.scholarshiptypeCode
        inner   join opuscollege.sch_student on sch_student.scholarshipStudentId = sch_scholarshipApplication.scholarshipStudentId
        inner   join opuscollege.student on student.studentId = sch_student.studentId
        inner   join opuscollege.person ON student.personId = person.id
        inner   join opuscollege.civiltitle ON civiltitle.code = person.civiltitleCode
        inner   join opuscollege.study on student.primaryStudyId = study.id
        inner   join opuscollege.organizationalunit on study.organizationalUnitId = organizationalunit.id
        inner   join opuscollege.branch on branch.id = organizationalunit.branchId
        inner   join opuscollege.institution on institution.id = branch.institutionId
        where   sch_scholarshipType.lang = #{preferredLanguage}
        and     civiltitle.lang = #{preferredLanguage}
        <if test='institutionId != null and institutionId != "0"'>
            and opuscollege.institution.id = #{institutionId}
        </if>
        <if test='branchId != null and branchId != "0"'>
            and opuscollege.branch.id = #{branchId}
        </if>
        <if test='organizationalUnitId != null and organizationalUnitId != "0"'>
            and organizationalUnit.id in
                (select id from opuscollege.crawl_tree(#{organizationalUnitId}, 0))
        </if>
        <if test='sponsorId != null and sponsorId != "0"'>
            and sch_scholarship.sponsorId = #{sponsorId}
        </if>
        <if test='selectedAcademicYearId != null and selectedAcademicYearId != "0"'>
                sch_sponsor.academicYearId = #{selectedAcademicYearId}
        </if>
        ORDER BY lower(person.surnameFull)
    </select>
    
    <insert id="addComplaint" parameterType="Complaint"> 
        insert into opuscollege.sch_complaint
        ( complaintDate
        , reason
        , result
        , complaintStatusCode
        , scholarshipApplicationId
        , active
        ) values (
        #{complaintDate}
        , #{reason}
        , #{result}
        , #{complaintStatusCode}
        , #{scholarshipApplicationId}
        , #{active}
        )
        <!-- http://opensource.atlassian.com/confluence/oss/pages/viewpage.action?pageId=407 -->
        <selectKey keyProperty="id" resultType="int">
            SELECT currVal('opuscollege.sch_complaintSeq')
        </selectKey>
    </insert>
    
    <update id="updateComplaint" parameterType="Complaint">
        update  opuscollege.sch_complaint
        set     complaintDate = #{complaintDate}
        ,       reason = #{reason}
        ,       result = #{result}
        ,       complaintStatusCode = #{complaintStatusCode}
        ,       scholarshipApplicationId = #{scholarshipApplicationId}
        ,       active = #{active}
       where   id = #{id}
    </update>
    
    <delete id="deleteComplaint" parameterType="int">
        delete from opuscollege.sch_complaint
        where  id = #{value}
    </delete>

    <!-- referenced as collection property in ScholarshipApplicationMapper -->
    <select id="findScholarshipApplicationComplaints" parameterType="int" resultType="Complaint">
        select  opuscollege.sch_complaint.*
        from    opuscollege.sch_complaint
        where   scholarshipApplicationId = #{value}
    </select> 

    <delete id="deleteComplaintsForScholarshipApplication" parameterType="int">
        delete from opuscollege.sch_complaint
        where  scholarshipApplicationId = #{value}
    </delete>
    
</mapper>