<?xml version="1.0" encoding="UTF-8"?><!--
  ***** BEGIN LICENSE BLOCK *****
  Version: MPL 1.1/GPL 2.0/LGPL 2.1
  
  The contents of this file are subject to the Mozilla Public License Version
  1.1 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
  http://www.mozilla.org/MPL/
  
  Software distributed under the License is distributed on an "AS IS" basis,
  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  for the specific language governing rights and limitations under the
  License.
  
  The Original Code is Opus-College cbu module code.
  
  The Initial Developer of the Original Code is
  Center for Information Services, Radboud University Nijmegen.
  Portions created by the Initial Developer are Copyright (C) 2008
  the Initial Developer. All Rights Reserved.
  
  Contributor(s):
    For Java files, see Javadoc @author tags.
  
  Alternatively, the contents of this file may be used under the terms of
  either the GNU General Public License Version 2 or later (the "GPL"), or
  the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  in which case the provisions of the GPL or the LGPL are applicable instead
  of those above. If you wish to allow use of your version of this file only
  under the terms of either the GPL or the LGPL, and not to allow others to
  use your version of this file under the terms of the MPL, indicate your
  decision by deleting the provisions above and replace them with the notice
  and other provisions required by the GPL or the LGPL. If you do not delete
  the provisions above, a recipient may use your version of this file under
  the terms of any one of the MPL, the GPL or the LGPL.
  
  ***** END LICENSE BLOCK *****
--><!--Converted at: Fri Feb 26 16:18:06 CET 2016-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uci.opus.cbu.persistence.CbuMapper">

    <!-- Get the next unused application number.
         The last 6 digits from the studentCode field are taken into account.
         The lowest 6-digit number is returned that does not yet exist.
         NB: The dollar signs ($) are escaped with another dollar sign because of iBatis -->
    <select id="findNextApplicationNumber" resultType="Integer">
        SELECT MIN(SUBSTRING(student.studentcode FROM '......$$')::integer) + 1
        FROM opuscollege.student
        WHERE student.studentcode ~ E'^\\d+$$'
        AND NOT EXISTS (
            SELECT * from opuscollege.student student2
            WHERE SUBSTRING(student2.studentCode FROM '......$$')::integer = SUBSTRING(student.studentcode FROM '......$$')::integer + 1
            AND student2.studentCode ~ E'^\\d+$$'
        )
    </select>

    <select id="findStudentTransactionDetailsData" parameterType="string" resultType="java.util.HashMap">
        select    gradetype.description as "gradeTypeDescription"
                , studyDescription as "studyDescription"
                , cardinalTimeUnitNumber as "cardinalTimeUnitNumber"
                , nrOfUnitsPerYear as "nrOfUnitsPerYear"
                , branch.branchdescription as "branchDescription"
        from opuscollege.studyplancardinaltimeunit
        inner join  opuscollege.studyplan on studyplancardinaltimeunit.studyplanid = studyplan.id
        inner join opuscollege.student on studyplan.studentid = student.studentid
        inner join opuscollege.study on studyplan.studyid = study.id
        inner join opuscollege.gradetype on studyplan.gradetypecode = gradetype.code and gradetype.lang ='en'
        inner join opuscollege.studygradetype on studygradetype.studyid = study.id and studygradetype.gradetypecode = gradetype.code
        inner join opuscollege.cardinaltimeunit on studygradetype.cardinaltimeunitcode = cardinaltimeunit.code
        inner join opuscollege.organizationalunit on study.organizationalunitid = organizationalunit.id
        inner join opuscollege.branch on organizationalunit.branchid = branch.id
        where student.studentCode = #{studentCode}
    </select> 

</mapper>