<?xml version="1.0" encoding="UTF-8"?>
<!--
  ***** BEGIN LICENSE BLOCK *****
  Version: MPL 1.1/GPL 2.0/LGPL 2.1
  
  The contents of this file are subject to the Mozilla Public License Version
  1.1 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
  http://www.mozilla.org/MPL/
  
  Software distributed under the License is distributed on an "AS IS" basis,
  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  for the specific language governing rights and limitations under the
  License.
  
  The Original Code is Opus-College college module code.
  
  The Initial Developer of the Original Code is
  Center for Information Services, Radboud University Nijmegen.
  Portions created by the Initial Developer are Copyright (C) 2008
  the Initial Developer. All Rights Reserved.
  
  Contributor(s):
    For Java files, see Javadoc @author tags.
  
  Alternatively, the contents of this file may be used under the terms of
  either the GNU General Public License Version 2 or later (the "GPL"), or
  the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  in which case the provisions of the GPL or the LGPL are applicable instead
  of those above. If you wish to allow use of your version of this file only
  under the terms of either the GPL or the LGPL, and not to allow others to
  use your version of this file under the terms of the MPL, indicate your
  decision by deleting the provisions above and replace them with the notice
  and other provisions required by the GPL or the LGPL. If you do not delete
  the provisions above, a recipient may use your version of this file under
  the terms of any one of the MPL, the GPL or the LGPL.
  
  ***** END LICENSE BLOCK *****
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uci.opus.college.persistence.CardinaltimeunitResultMapper"> 

    <resultMap id="BasicCardinalTimeUnitResultResultMap" type="CardinalTimeUnitResult">
        <result property="id" column="id"/>
        <result property="studyPlanId" column="studyPlanId"/>
        <result property="studyPlanCardinalTimeUnitId" column="studyPlanCardinalTimeUnitId"/>
        <result property="cardinalTimeUnitResultDate" column="cardinalTimeUnitResultDate" javaType="java.util.Date"/>
        <result property="mark" column="mark"/> 
        <result property="endGradeComment" column="endGradeComment"/> 
        <result property="active" column="active"/>
        <result property="passed" column="passed"/>
    </resultMap>
    
    <!-- resultmap to define complete CardinalTimeUnitResult -->
    <resultMap id="CardinalTimeUnitResultResultMap" type="CardinalTimeUnitResult" extends="BasicCardinalTimeUnitResultResultMap">
        <association property="studyPlanDetails" select="org.uci.opus.college.persistence.StudyplanDetailMapper.findStudyPlanDetailsForCardinalTimeUnitResult" column="id"/>
    </resultMap>

    <!-- FQ result maps have no reason to use automapping, on the contrary unneeded objects with false id values may be created for non-existing records.
         For more info on  autoMapping="false" see the SubjectResultMapper and http://www.mybatis.org/mybatis-3/sqlmap-xml.html#Auto-mapping -->
    <resultMap id="BasicFQCardinalTimeUnitResultResultMap" type="CardinalTimeUnitResult" autoMapping="false">
        <id property="id" column="cardinalTimeUnitResult_id"/>
        <result property="studyPlanId" column="cardinalTimeUnitResult_studyPlanId"/>
        <result property="studyPlanCardinalTimeUnitId" column="cardinalTimeUnitResult_studyPlanCardinalTimeUnitId"/>
        <result property="cardinalTimeUnitResultDate" column="cardinalTimeUnitResult_cardinalTimeUnitResultDate" javaType="java.util.Date"/>
        <result property="mark" column="cardinalTimeUnitResult_mark"/> 
        <result property="endGradeComment" column="cardinalTimeUnitResult_endGradeComment"/> 
        <result property="active" column="cardinalTimeUnitResult_active"/>
        <result property="passed" column="cardinalTimeUnitResult_passed"/>
    </resultMap>


    <!-- find all active CardinalTimeUnitResults for a StudyPlan -->
    <select id="findActiveCardinalTimeUnitResultsForStudyPlan" parameterType="int" resultMap="CardinalTimeUnitResultResultMap"> 
        select opuscollege.cardinalTimeUnitResult.* 
        from opuscollege.cardinalTimeUnitResult
        INNER JOIN opuscollege.studyPlanCardinalTimeUnit ON cardinalTimeUnitResult.studyPlanCardinalTimeUnitId = studyPlanCardinalTimeUnit.id
        INNER JOIN opuscollege.studyPlan ON studyPlanCardinalTimeUnit.studyPlanId = studyPlan.id 
        WHERE studyPlan.id = #{value}
        AND   cardinalTimeUnitResult.active = 'Y'
        ORDER BY studyPlanCardinalTimeUnit.cardinalTimeUnitNumber    
    </select>

    <!-- find the active CardinalTimeUnitResult for a StudyPlanCardinalTimeUnit -->
    <select id="findCardinalTimeUnitResultForStudyPlanCardinalTimeUnit" parameterType="int" resultMap="CardinalTimeUnitResultResultMap"> 
        select opuscollege.cardinalTimeUnitResult.* 
        from opuscollege.cardinalTimeUnitResult
        INNER JOIN opuscollege.studyPlanCardinalTimeUnit ON cardinalTimeUnitResult.studyPlanCardinalTimeUnitId = studyPlanCardinalTimeUnit.id
        WHERE studyPlanCardinalTimeUnit.id = #{value}
        AND   cardinalTimeUnitResult.active = 'Y'
        ORDER BY studyPlanCardinalTimeUnit.cardinalTimeUnitNumber    
    </select>

    <!-- find all cardinalTimeUnitResults for a Student -->
     <select id="findCardinalTimeUnitResultsForStudent" parameterType="map" resultType="CardinalTimeUnitResult">
        SELECT  opuscollege.cardinalTimeUnitResult.*
        FROM    opuscollege.cardinalTimeUnitResult
        INNER JOIN opuscollege.studyPlanCardinalTimeUnit ON cardinalTimeUnitResult.studyPlanCardinalTimeUnitId = studyPlanCardinalTimeUnit.id
        INNER JOIN opuscollege.studyPlan on cardinalTimeUnitResult.studyPlanId = studyPlan.id
        WHERE   opuscollege.studyPlan.studentId = #{studentId}
        <if test='studyPlanId != null and studyPlanId != "0"'>
            and opuscollege.cardinalTimeUnitResult.studyPlanId = #{studyPlanId}
        </if>
        <if test='active != null and active != ""'>
            and opuscollege.cardinalTimeUnitResult.active = #{active}
        </if>
        ORDER BY studyPlanCardinalTimeUnit.cardinalTimeUnitNumber ASC    
    </select>

     <select id="findCardinalTimeUnitResultsForStudyPlan" parameterType="int" resultMap="CardinalTimeUnitResultResultMap">
        SELECT  opuscollege.cardinalTimeUnitResult.*
        from opuscollege.cardinalTimeUnitResult
        INNER JOIN opuscollege.studyPlanCardinalTimeUnit ON cardinalTimeUnitResult.studyPlanCardinalTimeUnitId = studyPlanCardinalTimeUnit.id
        WHERE opuscollege.cardinalTimeUnitResult.studyPlanId = #{value}
        ORDER BY studyPlanCardinalTimeUnit.cardinalTimeUnitNumber ASC 
    </select>

    <insert id="addCardinalTimeUnitResult" parameterType="CardinalTimeUnitResult">
        insert into opuscollege.cardinalTimeUnitResult
        ( studyPlanId
        , studyPlanCardinalTimeUnitId
        , cardinalTimeUnitResultDate
        , mark
        , endGradeComment
        , active
        , passed
        , writeWho
        ) values ( 
          #{studyPlanId}
        , #{studyPlanCardinalTimeUnitId}
        , #{cardinalTimeUnitResultDate}
        , #{mark}
        , #{endGradeComment}
        , #{active}
        , #{passed}
        , #{writeWho}
        )
         <!-- http://opensource.atlassian.com/confluence/oss/pages/viewpage.action?pageId=407 -->
        <selectKey keyProperty="id" resultType="int">
            SELECT currVal('opuscollege.cardinalTimeUnitResultSeq')
        </selectKey>
         <!--<selectKey keyProperty="id" resultClass="int" >
            SELECT cast(last_value as int) AS value
            FROM opuscollege.cardinalTimeUnitSeq
        </selectKey> -->
    </insert> 
    
    <insert id="addCardinalTimeUnitResultHistory" parameterType="CardinalTimeUnitResult">
        insert into audit.cardinalTimeUnitResult_hist
        ( operation
        , writeWho
        <!--  , writeWhen: is written automatically-->
        , id
        , studyPlanId
        , studyPlanCardinalTimeUnitId
        , cardinalTimeUnitResultDate
        , mark
        , endGradeComment
        , active
        , passed
        ) values (
          'I'
        , #{writeWho}
        , #{id}
        , #{studyPlanId}
        , #{studyPlanCardinalTimeUnitId}
        , #{cardinalTimeUnitResultDate}
        , #{mark}
        , #{endGradeComment}
        , #{active}
        , #{passed}
        )
    </insert>

    <update id="updateCardinalTimeUnitResult" parameterType="CardinalTimeUnitResult">
        update  opuscollege.cardinalTimeUnitResult
        set     studyPlanId                     = #{studyPlanId}
        ,       studyPlanCardinalTimeUnitId     = #{studyPlanCardinalTimeUnitId}
        ,       cardinalTimeUnitResultDate      = #{cardinalTimeUnitResultDate}
        ,       mark                            = #{mark}
        ,       endGradeComment                 = #{endGradeComment}
        ,       active                          = #{active}
        ,       passed                          = #{passed}
        ,       writeWho                        = #{writeWho}
        where   id = #{id}
    </update>

    <insert id="updateCardinalTimeUnitResultHistory" parameterType="CardinalTimeUnitResult">
        insert into audit.cardinalTimeUnitResult_hist
        ( operation
        , writeWho
        <!--  , writeWhen: is written automatically-->
        , id
        , studyPlanId
        , studyPlanCardinalTimeUnitId
        , cardinalTimeUnitResultDate
        , mark
        , endGradeComment
        , active
        , passed
        ) values (
          'U'
        , #{writeWho}
        , #{id}
        , #{studyPlanId}
        , #{studyPlanCardinalTimeUnitId}
        , #{cardinalTimeUnitResultDate}
        , #{mark}
        , #{endGradeComment}
        , #{active}
        , #{passed}
        )
    </insert>
    
    <delete id="deleteCardinalTimeUnitResult" parameterType="int">
        delete from opuscollege.cardinalTimeUnitResult
        where  id = #{value}
    </delete>

    <insert id="deleteCardinalTimeUnitResultHistory" parameterType="CardinalTimeUnitResult">
        insert into audit.cardinalTimeUnitResult_hist
        ( operation
        , writeWho
        <!--  , writeWhen: is written automatically-->
        , id
        , studyPlanId
        , studyPlanCardinalTimeUnitId
        , cardinalTimeUnitResultDate
        , mark
        , endGradeComment
        , active
        , passed
        ) values ( 
          'D'
        , #{writeWho}
        , #{id}
        , #{studyPlanId}
        , #{studyPlanCardinalTimeUnitId}
        , #{cardinalTimeUnitResultDate}
        , #{mark}
        , #{endGradeComment}
        , #{active}
        , #{passed}
        )
    </insert>

    <select id="findCardinalTimeUnitResult" parameterType="int" resultType="CardinalTimeUnitResult">
        SELECT  opuscollege.cardinalTimeUnitResult.*
        FROM    opuscollege.cardinalTimeUnitResult
        WHERE   id = #{value}
    </select>
    
    <select id="findCardinalTimeUnitResultByParams" parameterType="map" resultType="CardinalTimeUnitResult">
        SELECT  opuscollege.cardinalTimeUnitResult.*
        FROM    opuscollege.cardinalTimeUnitResult
        INNER JOIN opuscollege.studyPlanCardinalTimeUnit ON cardinalTimeUnitResult.studyPlanCardinalTimeUnitId = studyPlanCardinalTimeUnit.id
        INNER JOIN opuscollege.studyGradeType ON studyPlanCardinalTimeUnit.studyGradeTypeId = studyGradeType.id
        WHERE 1=1
        <if test='studyPlanId != null and studyPlanId != "0"'>
                AND     studyPlanCardinalTimeUnit.studyPlanId = #{studyPlanId}
        </if>
        <if test='cardinalTimeUnitNumber != null and cardinalTimeUnitNumber != "0"'>
                AND     studyPlanCardinalTimeUnit.cardinalTimeUnitNumber = #{cardinalTimeUnitNumber}
        </if>
        <if test='studyPlanCardinalTimeUnitId != null and studyPlanCardinalTimeUnitId != "0"'>
                AND studyPlanCardinalTimeUnit.id = #{studyPlanCardinalTimeUnitId}
        </if>
        <if test='currentAcademicYearId != null and currentAcademicYearId != "0"'>
                AND     studyGradeType.currentAcademicYearId = #{currentAcademicYearId}
        </if>
    </select>


</mapper>
