<?xml version="1.0" encoding="UTF-8"?>
<!--
  ***** BEGIN LICENSE BLOCK *****
  Version: MPL 1.1/GPL 2.0/LGPL 2.1
  
  The contents of this file are subject to the Mozilla Public License Version
  1.1 (the "License"); you may not use this file except in compliance with
  the License. You may obtain a copy of the License at
  http://www.mozilla.org/MPL/
  
  Software distributed under the License is distributed on an "AS IS" basis,
  WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
  for the specific language governing rights and limitations under the
  License.
  
  The Original Code is Opus-College college module code.
  
  The Initial Developer of the Original Code is
  Center for Information Services, Radboud University Nijmegen.
  Portions created by the Initial Developer are Copyright (C) 2008
  the Initial Developer. All Rights Reserved.
  
  Contributor(s):
    For Java files, see Javadoc @author tags.
  
  Alternatively, the contents of this file may be used under the terms of
  either the GNU General Public License Version 2 or later (the "GPL"), or
  the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
  in which case the provisions of the GPL or the LGPL are applicable instead
  of those above. If you wish to allow use of your version of this file only
  under the terms of either the GPL or the LGPL, and not to allow others to
  use your version of this file under the terms of the MPL, indicate your
  decision by deleting the provisions above and replace them with the notice
  and other provisions required by the GPL or the LGPL. If you do not delete
  the provisions above, a recipient may use your version of this file under
  the terms of any one of the MPL, the GPL or the LGPL.
  
  ***** END LICENSE BLOCK *****
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uci.opus.college.persistence.NoteMapper"> 



    <select id="findStudentActivity" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentActivity
        WHERE   id = #{noteId}
        ORDER   BY id
    </select>
    
    <select id="findStudentActivities" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentActivity
        WHERE   studentId = #{studentId}
        ORDER   BY id
    </select>
    
    <insert id="addStudentActivity" parameterType="Note">
        INSERT into opusCollege.studentActivity
        (   studentId
        ,   description
        ) values (
            #{foreignId}
        ,   #{description}
        )
    </insert>
    
    <update id="updateStudentActivity" parameterType="Note">
        update  opusCollege.studentActivity
        set     description = #{description}
        where   id = #{id}
    </update>
    
    <delete id="deleteStudentActivity" parameterType="int">
        delete from opusCollege.studentActivity
        where  id = #{id}
    </delete>
     
    <delete id="deleteStudentActivities" parameterType="int">
        delete from opusCollege.studentActivity
        where  studentId = #{value}
    </delete>
     
    <select id="findStudentCareer" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentCareer
        WHERE   id = #{noteId}
        ORDER   BY id
    </select>
    
    <select id="findStudentCareers" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentCareer
        WHERE   studentId = #{studentId}
        ORDER   BY id
    </select>
    
    <insert id="addStudentCareer" parameterType="Note">
        INSERT into opusCollege.studentCareer
        (   studentId
        ,   description
        ) values (
            #{foreignId}
        ,   #{description}
        )
    </insert>
    
    <update id="updateStudentCareer" parameterType="Note">
        update  opusCollege.studentCareer
        set     description = #{description}
        where   id = #{id}
    </update>
    
    <delete id="deleteStudentCareer" parameterType="int">
        delete from opusCollege.studentCareer
        where  id = #{id}
    </delete>
    
    <delete id="deleteStudentCareers" parameterType="int">
        delete from opusCollege.studentCareer
        where  studentId = #{value}
    </delete>
     
    <select id="findStudentPlacement" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentPlacement
        WHERE   id = #{noteId}
        ORDER   BY id
    </select>
    
    <select id="findStudentPlacements" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentPlacement
        WHERE   studentId = #{studentId}
        ORDER   BY id
    </select>
    
    <insert id="addStudentPlacement" parameterType="Note">
        INSERT into opusCollege.studentPlacement
        (   studentId
        ,   description
        ) values (
            #{foreignId}
        ,   #{description}
        )
    </insert>
    
    <update id="updateStudentPlacement" parameterType="Note">
        update  opusCollege.studentPlacement
        set     description = #{description}
        where   id = #{id}
    </update>
    
    <delete id="deleteStudentPlacement" parameterType="int">
        delete from opusCollege.studentPlacement
        where  id = #{id}
    </delete>
    
    <delete id="deleteStudentPlacements" parameterType="int">
        delete from opusCollege.studentPlacement
        where  studentId = #{value}
    </delete>
    
    <select id="findStudentCounseling" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentCounseling
        WHERE   id = #{noteId}
        ORDER   BY id
    </select>
    
    <select id="findStudentCounselings" parameterType="int" resultType="Note">
        SELECT  id
        ,       studentId as foreignId
        ,       description
        from    opusCollege.studentCounseling
        WHERE   studentId = #{studentId}
        ORDER   BY id
    </select>

    <insert id="addStudentCounseling" parameterType="Note">
        INSERT into opusCollege.studentCounseling
        (   studentId
        ,   description
        ) values (
            #{foreignId}
        ,   #{description}
        )
    </insert>
    
    <update id="updateStudentCounseling" parameterType="Note">
        update  opusCollege.studentCounseling
        set     description = #{description}
        where   id = #{id}
    </update>
    
    <delete id="deleteStudentCounseling" parameterType="int">
        delete from opusCollege.studentCounseling
        where  id = #{id}
    </delete>
    
    <delete id="deleteStudentCounselings" parameterType="int">
        delete from opusCollege.studentCounseling
        where  studentId = #{value}
    </delete>


</mapper>
