<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${sys:catalina.base}/logs/${web:contextPath}.log"
            filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/${web:contextPath}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
        </Console>
        <RollingFile name="SecurityAppender" fileName="${sys:catalina.base}/logs/${web:contextPath}-security.log"
            filePattern="${sys:catalina.base}/logs/$${date:yyyy-MM}/${web:contextPath}-security-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                    size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>

<!-- if desired specify logger that logs a specific package -->
<!--         <Logger name="org.apache.log4j.xml" level="info"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </Logger> -->

        <!-- The security logger applies to logger names that start with "SECURITY" 
             This follows naming recommendations by http://logging.apache.org/log4j/1.2/faq.html#a2.4 
             NB: The output to the security logger is available in the root logger, because the root logger is on top of every hierarchy. )-->
        <Logger name="SECURITY" level="info">
            <AppenderRef ref="SecurityAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
